<div class="container-fluid">
  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>

  <h1>Разделы</h1>

  <%= button_to('Добавить новый раздел', new_admin_section_path, method: :get, class: 'btn btn-success') %>

  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Название</th>
        <th>Описание</th>
        <th>Позиция</th>
      </tr>
    </thead>
    <% @sections.each do |section| %>
      <tr>
        <th><%= section.id %></th>
        <td><%= link_to(section.name, admin_section_path(section)) %></td>
        <td><%= section.description %></td>
        <td><%= section.order %></td>
      </tr>
    <% end %>
  </table>
</div>
