<div class="container-fluid">
  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>

  <div style="display: block">
    <h1 style="display: inline-block"><%= @section.name %></h1>
    <%= link_to('Редактировать', edit_admin_section_path(@section)) %>
    <%= link_to('Удалить', admin_section_path(@section), method: :delete, class: 'link-danger') %>

  </div>
  <p><b>Описание раздела:</b> <%= @section.description %></p>

  <p><b>Количество уроков в разделе:</b> <%= @section.lessons.count %></p>

  <h4>Доступные уроки:</h4>
  <table class="table">
    <thead>
      <tr>
        <th>Название урока</th>
        <th>Описание</th>
        <th>Позиция</th>
      </tr>
    </thead>
    <% @section.lessons.order(:order).each do |lesson| %>
      <tr>
        <td><%= link_to(lesson.name, admin_lesson_path(lesson)) %></td>
        <td><%= lesson.description %></td>
        <td><%= lesson.order %></td>
      </tr>
    <% end %>
  </table>
</div>
